body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.4;
}


.hidden {
  display: none;
}

.bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  height: 80px;
  box-sizing: border-box;
  align-items: center;
}

#clock {
  margin-right: 20px;
  margin-left: 20px;
}


#login-form {

}

.login-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

.login-input input:first-child {
  margin-right: 10px;
}

.greeting {
  display: flex;
  align-items: center;
  
}
#greeting {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 20px;
}

.reset {
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
}

#todo-form {
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 20px;
}

#todo-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
 
}

#todo-list li{
  margin-right: 40px;
  margin-top: 10px;
}

#todo-list span {
  margin-right: 10px;
}

#todo-list button {
  color: green;
}





.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

#weather {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
